.tasks {
    text-align: left;
    width: 100%
}
.tasks > .task {
    text-align: left;
}

.pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 1rem;
}
.pagination > button {
    
    margin-left: 0.5rem;
}